.userList{
    flex: 4;
}
.userListUser{
    display: flex;
    align-items: center;
}
.userListImg{
    height:32px;
    width:32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userEdit{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.userDelete{
    color:red;
    cursor: pointer;
}